.tables {
  margin-top: 50px;
  &__text {
    font-weight: 400;
font-size: 14px;
line-height: 17px;
  }
  &__text_bold {
    font-weight: 600;
  }
  &__table {
    margin-top: 19px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  }
  &__column_none {
    @media all and (max-width: 730px) {
      display: none;
    }
  }
  &__column_first {
    width: 585px;
    background: #0067B0;
box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
border-radius: 8px;
height: 50px;
color: #ffffff;
@media all and (max-width: 1090px) {
  width: 485px;
    }
    @media all and (max-width: 920px) {
      width: 385px;
        }
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__img {
    margin: 16px 20px 16px 18px;
  }
  &__column {
    text-align: center;
  }
}


